#createGroup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#createGroup-field {
    margin-bottom: 20px;
}

#createGroup-label {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#createGroup-input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}


#createGroup-submit {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

#createGroup-submit:hover {
    background-color: #0056b3;
}