body {
    margin: 0;
    padding: 0;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(255, 255, 0, 0.5);
}

.title-container {
    text-align: center;
}

.title img {
    width: 100px;
    height: auto;
}

.title-text {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.description-text {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
