nav {
    font-size: 3em;
    background-color: blueviolet;
    flex-direction: row;
    gap: 5%;
    flex-wrap: wrap;
  }
  nav .nav__text {
    font-size: 3em;
  }
  nav .nav__img {
    width: 10%;
    height: 10%;
  }
 