nav{
    font-size: 80em;
    background-color: blueviolet;
    flex-direction: row;
    gap: 5%;
    flex-wrap: wrap;
    .nav__text{
        font-size: 10em;
    };
    .nav__img{
        width: 10%;
        height: 10%;
    }
}

.games {
    flex-direction: row;
    gap: 5%;
    flex-wrap: wrap;
}
